.modal-header{
    background:#673AB7;
    color:white;
    margin:0px;
}

.modal-header button{
    color:white;
}

.btn{
    background: #7E57C2;
}

.btn:hover{
    background: #673AB7;
}

.btn:focus{
    background: #5E35B1;
}

.btn:active{
    background: #5E35B1;
}
