.formm{
    margin-top: 40px;
}

.tablee{
    margin-top:40px;
}

.btn{
    margin-top:20px;
    background: #7E57C2;
}

.btn:hover{
    background: #673AB7;
}

.btn:focus{
    background: #5E35B1;
}

.btn:active{
    background: #5E35B1;
}


